.animeContent {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.animeContainer {
  width: 70%;
  margin: 0 auto;
}

.animeDetails {
  order: 1;
}

.animeTitle {
  margin: 0;
}

.animeDetails {
  margin-top: 20px;
}

.animeDetails li {
  margin-bottom: 10px;
}

.weight {
  font-weight: 600;
}

.animePoster {
  order: 2;
}

.animeImg {
  width: 100%;
  height: auto;
}

.ytPlayer {
  margin-top: -20px;
  position: relative;
  height: 0;
  overflow: hidden;
}

.ytContainer16x9 {
  padding-bottom: 56.25%;
}

.ytContainer4x3 {
  padding-bottom: 75%;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media(min-width: 768px) {
  .animeContent {
    flex-direction: row;
  }
  .animeDetails {
    flex: 2;
    order: 2;
  }
  .animePoster {
    flex: 1;
    order: 1;
    padding-right: 20px;
  }
  .animeImg {
    width: 300px;
    height: auto;
  }
}